<ion-header>
  <ion-navbar>
    <ion-title>
      cart: {{userName}}
    </ion-title>
    
  </ion-navbar>
  <button ion-button class="buttonFloat" (click)="showMyOrders()">MyOrders</button>
  <p class="pFloat">{{userID}}</p>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let inventory of inventories" (click)="gotoOrder(inventory)">{{inventory.inventoryName}}</ion-item>
  </ion-list>

  <ion-card class="confirmModal" *ngIf="confirmOrderFlag">
      <ion-grid>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-10 style="text-align:center">
            <h1>Quantity : {{leftQuantity}} left</h1>
            <ion-input class="inputBorder" [(ngModel)]="quantiy"></ion-input>
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-10>
            <button ion-button full (click)="confirmOrder(quantiy)">Confirm</button>
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="myOrders" *ngIf="myOrderFlag">
        <ion-list>
            <ion-item *ngFor="let order of myOrders" >{{order.itemName}}<span> Quantity:</span>{{order.itemQuantity}}</ion-item>
            
          </ion-list>
      </ion-card>

      <ion-card class="OrderStatus" *ngIf="orderStatusFlag">
          {{orderStatusMsg}}
          <button ion-button full (click)="ok()">Ok</button>
        </ion-card>
</ion-content>
